*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: dimgray;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 5;
 }
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("water&fire.webp") center / cover;
    z-index: -10;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-clip: border-box;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);

}
h1 {
    color: white;
    margin-block: 16px;
}
main {
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
    margin-block: 5rem;
}
fieldset {
    border: transparent;
    margin: 0 auto;
    padding-block: 20px;
    padding-inline: 15px;
    max-width: 600px;
}
input, select, button {
    display: block;
    margin-block: 10px;
    padding-block: 10px;
    padding-inline: 12px;
    min-width: 250px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
select {
    border-radius: unset;
}
input:focus, select:focus {
    border: 1px solid rgba(0, 0, 255, 0.75);
    box-shadow: 3px 3px 3px rgba(49, 49, 51, 0.289);
}
button {
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    color: white;
}
button:hover {
    background-color: rgb(26, 95, 151);
     color: white;
     border: 1px inset #ccc;
 }

#display {
    text-align: center;
    background: transparent;
    width: auto;
    height: auto;
    color: white;
    margin-block: 15px;
    font-weight:900;
    transition: width .3s ease-in;
}

@media screen and (min-width:900px) {
  fieldset  {min-width: 400px;}
}